html(lang="zh")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 今日头条-pug
  body
    div.tab-bar
      each tab, i in tabs
        a.tab(class={ active: tab.active }, href="/") #{ tab.text }
    each article, i in articles
      section.image-item
        p.image-item-title #{ article.text }
      